{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'amcharts4/core.js' %}"></script>
    <script src="{% static 'amcharts4/maps.js' %}"></script>
    <script src="{% static 'js/am4geodata_brasilHighs.js' %}"></script>
	<script src="{% static 'amcharts4/charts.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div id="container">
	<div class="row">
	    <div class="col-sm-4"></div>
	    <div class="col-sm-4">
{#	        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data" id="form">#}
	            {% csrf_token %}

	            {% for field in form %}
	                <div class="form-group">
	                    <div class="alert-danger" id="erro-{{ field.name }}">
	                        {{ field.errors }}
	                    </div>
	                    {{ field.label_tag }}

	                    {{ field|add_class:"form-control"}}
	                </div>
	            {% endfor %}
	        <p>
		        <button class="btn btn-success" type="button" id="enviar">Enviar</button>
	            <button id="btn-limpar" class="btn btn-danger" type="button">Limpar</button>
	        </p>
{#	    </form>#}
	    </div>
	    <div class="col-sm-4"></div>
	</div>
	<p>
		<div id="chart1div"></div>
		<div id="chart2div"></div>
	</p>
</div>
</body>
<footer>
</footer>
</html>